<b>Coordinator Query: </b>
{{this.query}}
<p></p>
<b>Coordinator: {{this.result.fullName}}</b>
<p></p>
<p>Contact Email: <a href='mailto:{{this.result.id}}@bu.edu'>{{this.result.id}}@bu.edu</a></p>

<p>Coordinator for the folllowing courses:</p>
<ul>
  {{#if this.result.Courses}}
    {{#each this.result.Courses}}
      <li>
        <a href='/describe/{{this.id}}'>{{this.courseId}}</a>
        -
        {{this.courseName}}
      </li>
    {{/each}}
  {{else}}
    No courses found.
  {{/if}}
</ul>
