<b>Course Id Query: </b>
{{this.query}}
<p></p>
<ul>

  {{#if this.courses}}
    {{#each this.courses}}
      <li>
        <a href='/describe/{{this.id}}'>{{this.courseId}}</a>
        -
        {{this.courseName}}
        (
        <a href='/coordinator/{{this.Coordinator.id}}'>Contact Prof. {{this.Coordinator.fullName}}</a>
        )
      </li>
    {{/each}}
  {{else}}
    No courses found.
  {{/if}}

</ul>
