<h3>A Random Course:</h3>

<b><a href='/describe/{{this.id}}'>{{this.courseId}}</a> - {{this.courseName}}</b>
<p></p>
<b>Coordinator: <a href='/coordinator/{{this.Coordinator.id}}'>{{this.Coordinator.fullName}}</a></b>
