<h3>A Random Course</h3>

<b>
  <a href='/describe/{{this._id}}'>{{this._id}}</a>
  -
  {{this.courseName}}
  <p></p>
  Coordinator:
  <a href='/coordinator/{{this.coordinator._id}}'>{{this.coordinator.firstName}} {{this.coordinator.lastName}}</a>
</b>
