<h3>Session History:</h3>

<hr />
<h4>By Course Ids</h4>
{{#if this.lookupByCourseId}}
  <ul>
    {{#each this.lookupByCourseId}}
      <li>{{this.displayName}}</li>
    {{/each}}
  </ul>
{{else}}
  No Course Ids found.
{{/if}}

<p></p>
<hr />

<h4>By Course Names</h4>
{{#if this.lookupByCourseName}}
  <ul>
    {{#each this.lookupByCourseName}}
      <li>{{this.displayName}}</li>
    {{/each}}
  </ul>
{{else}}
  No Course Names found.
{{/if}}

<p></p>
<hr />

<h4>By Coordinators</h4>
{{#if this.lookupByCoordinator}}
  <ul>
    {{#each this.lookupByCoordinator}}
      <li>{{this}}</li>
    {{/each}}
  </ul>
{{else}}
  No Coordinators found.
{{/if}}

<p></p>
<hr />

<h4>By Course Descriptions</h4>
{{#if this.courseDescription}}
  <ul>
    {{#each this.courseDescription}}
      <li>{{this}}</li>
    {{/each}}
  </ul>
{{else}}
  No Course Descriptions found.
{{/if}}
